[Unit]
Description=Simple API project

[Service]
User=$user
Group=nogroup
ExecStart=uvicorn main:app --host 0.0.0.0 --port 8000 --reload
WorkingDirectory=/opt/simple_project_fastapi
Restart=always

[Install]
WantedBy=multi-user.target